html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: sans-serif;
  text-align: center; }

h1 {
  font-size: 2.8em;
  margin: 1.0em auto; }

a {
  text-decoration: none;
  color: #fff; }

.offscreen {
  display: block;
  position: absolute;
  left: -999999px;
  top: -999999px; }

.button {
  cursor: pointer; }

input, textarea {
  border: 1px solid #D3D3D3; }

.add-notes .container {
  height: 3.6em;
  line-height: 3.6em; }
  .add-notes .container input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 8.5298%;
    height: 100%;
    font-size: 16px;
    padding: 10px; }
    .add-notes .container input:last-child {
      margin-right: 0; }
  .add-notes .container #add {
    background-color: #52c6d8;
    display: inline-block;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    height: 100%;
    font-size: 16px; }
    .add-notes .container #add:last-child {
      margin-right: 0; }
    .add-notes .container #add p {
      vertical-align: middle; }

.list-of-notes {
  margin-top: 3.6em; }
  .list-of-notes .container {
    text-align: left; }
    .list-of-notes .container ul {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .list-of-notes .container ul:last-child {
        margin-right: 0; }
      .list-of-notes .container ul li {
        position: relative;
        padding: 14px;
        border-bottom: 1px dotted #000;
        font-size: 16px;
        overflow: auto; }
        .list-of-notes .container ul li p {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 57.35098%;
          overflow: hidden;
          text-overflow: ellipsis; }
          .list-of-notes .container ul li p:last-child {
            margin-right: 0; }
        .list-of-notes .container ul li .edit {
          float: right;
          margin-right: 10px; }
        .list-of-notes .container ul li .delete {
          float: right; }
        .list-of-notes .container ul li .edit-notes {
          position: relative;
          display: none;
          width: 100%;
          max-height: 0; }
          .list-of-notes .container ul li .edit-notes .note-edit-title {
            position: absolute;
            top: -28px;
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 57.35098%;
            padding: 9px;
            font-size: 16px; }
            .list-of-notes .container ul li .edit-notes .note-edit-title:last-child {
              margin-right: 0; }
          .list-of-notes .container ul li .edit-notes .note-edit-text {
            width: 100%;
            margin: 10px 0 15px;
            font-size: 16px; }
          .list-of-notes .container ul li .edit-notes .save, .list-of-notes .container ul li .edit-notes .cancel {
            display: inline-block;
            padding-bottom: 10px;
            text-align: center;
            float: right; }
          .list-of-notes .container ul li .edit-notes .save {
            margin-right: 10px; }
          .list-of-notes .container ul li .edit-notes .colors {
            display: inline;
            width: 102px;
            padding: 10px;
            background-color: white;
            border: 1px solid #D3D3D3; }
            .list-of-notes .container ul li .edit-notes .colors .color {
              display: inline-block;
              margin-right: 10px;
              vertical-align: middle;
              cursor: pointer;
              position: relative;
              width: 20px;
              height: 20px; }
              .list-of-notes .container ul li .edit-notes .colors .color:last-child {
                margin-right: 0; }
              .list-of-notes .container ul li .edit-notes .colors .color::after {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                top: -2px;
                left: -1px; }
            .list-of-notes .container ul li .edit-notes .colors #pink::after {
              background-color: #ffaaa5; }
            .list-of-notes .container ul li .edit-notes .colors #seafoam::after {
              background-color: #a8e6cf; }
            .list-of-notes .container ul li .edit-notes .colors #light-green::after {
              background-color: #dcedc1; }
          .list-of-notes .container ul li .edit-notes.show {
            display: inline-block;
            padding-top: 10px;
            max-height: 500px; }
        .list-of-notes .container ul li.pink {
          background-color: #ffaaa5; }
        .list-of-notes .container ul li.seafoam {
          background-color: #a8e6cf; }
        .list-of-notes .container ul li.light-green {
          background-color: #dcedc1; }

.clear-all {
  margin-top: 5.0em; }
  .clear-all .container #clear {
    background-color: #EB008B;
    padding: 1.2em 1.6em; }
