.add-notes {
    .container {
        height: 3.6em;
        line-height: 3.6em;

        input {
            @include span-columns(8);
            @include shift(1);
            height: 100%;
            font-size: $font-default-size;
            padding: 10px;
        }
        #add {
            background-color: $add-button-color;
            display: inline-block;
            @include span-columns(2);
            height: 100%;
            font-size: $font-default-size;
            cursor: pointer;
            border: none;

            p {
                vertical-align: middle;
            }
        }
    }
}
