.clear-all {
    margin-top: 5.0em;

    .container {
        #clear {
            @include span-columns(4);
            @include shift(4);
            background-color: $clear-all-color;
            padding: 10px;
            color: $white;
            font-size: $font-default-size;
        }
    }
}
